<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>TodoMate homepage </title>
</head>
<body>

<!-- header section -->
    <header>
        <h1>TodoMate</h1>
    </header>

<!-- Navigation bar section -->
    <nav>
        <a href="#">Register</a>
        <a href="#">Login</a>
        <a href="#">Home</a>
    </nav>

<!-- code for whole container -->
    <div class="container">

<!-- Sidebar div -->
        <div class="sidebar">
            <h3>Menu</h3>
            <ul>
                <li>Home</li>
                <li>About US</li>
                <li>Contact</li>
                <li>Features</li>
                <li>Help</li>
        </ul>
      </div>

<!-- main content section -->
    <div class="main-content">
        <h2>Welcome to the ToDoMate</h2>
        <p>This app helps you manage your tasks efficiently. </p>

<!-- space to allow scrolling -->

     <div style="height: 600px;"></div>

     </div>
 </div>


 <!-- Footer Section -->

 <p>&copy; 2025 ToDoMate. All rights reserved</p>
    <!-- <p>Hi welcome to home page</p>
    <h1>Hi Nandana RS</h1> -->
</body>
</html>